body {
	align-content: center;
	padding-top: 70px;
	padding-bottom: 70px;
	font-family: "Georgia", Times, Times New Roman, serif, "Arial", "Helvetica Neue", Helvetica, sans-serif;
	background-image: url("assets/images/cork-wallet.jpg");

}
nav {
	align-content: center;
}
footer {
	text-align: center;
}
h1 {
	color: #4aaaa5;
	font-family: "Georgia"
}
h3 {
	color: #4aaaa5;
	font-family: "Georgia"
}
.container {
	width: 960px;
	color: #777777;
}
.navbar-fixed-bottom {
	align-content: center;
	background-color: #666666;
	color: #edeae1;
	border-top: 3px solid #4aaaa5;
	padding-top: 10px;
}
p {
	font-family: "Arial";
}
.col-md-8 {
	background-color: #ffffff;
	border: 1px solid #cccccc;
}
.col-md-3 {
	background-color: #ffffff;
	text-align: center;
	border: 1px solid #cccccc;
}
#portfolioWorks {
	align-content: center;
}
#biography {
	border-top: 1px solid #dddddd;
}
#iconbox {
	border-top: 1px solid #dddddd;
}
#portfolioBox {
	border-top: 1px solid #dddddd;
}
.fa-stack-overflow {
	padding: 10px;
	font-size: 40px;
	margin: 0 auto;
	margin-top: 10px;
	color: #e2af26;
	position: relative;
}
.fa-linkedin {
	padding: 10px;
	font-size: 40px;
	margin: 0 auto;
	margin-top: 10px;	
	color: #2649e2;	
	position: relative;
}
.fa-github {
	padding: 10px;
	font-size: 40px;
	margin: 0 auto;
	margin-top: 10px;	
	color: #424242;
	position: relative;
}
#aboutPic {
	max-width: 40%;
	max-height: 40%;
	float: left;
	margin: 10px;
}
#portfolioPic {
	max-width: 75%;
	max-height: 75%;
	float: left;
	margin: 10px;
}

#biotext {
	margin: 10px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #317c79;
}
#contactForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;